{% extends "base.html" %}
{% block content %}
    <section>
        <h3>tenants</h3>
        <table class="table table-striped table-hover">
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Domínio</th>
            </tr>
        {% for items in tenants %}
        <tr>
            <td>{{ items['id'] }}</td>
            <td>{{ items['name'] }}</td>
            <td>{{ items['domain'] }}</td>
        </tr>
        {% endfor %}
        </table>
    </section>
{% endblock %}